/* body{ */
/*   background-color: #333; */
/* } */
body{
	background: url(../../images/logon/maidou.jpeg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
input[type="text"],input[type="password"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  height: -webkit-calc(3em + 2px);
  height: calc(3em + 2px);
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #CCCCCC;
  border-radius: 20px;
  background: #000;
  resize: none;
  outline: none;
  filter: Alpha(opacity=30);
  opacity: 0.6;
  color: #FFFFFF;
}
.modify_div{
	opacity: 0.8;
  width:400px;
  height:380px;
  margin:12% auto;
  border-radius:40px;
  box-shadow: #fff 0px 0px 30px;
  background: rgba(0,0,0, 0.7);
  
  /*��ת*/
  transition: All 0.4s ease-in-out;
  -webkit-transition: All 0.4s ease-in-out;
  -moz-transition: All 0.4s ease-in-out;
  -o-transition: All 0.4s ease-in-out;
}

/* .modify_div{ */
/*   margin:auto; */
/*   width: 500px; */
/*   height: 500px; */
/*   border:1px solid #333; */
/*   border-radius: 5px; */
/*   text-align: center; */
/*   margin-top: 20px; */
/*   background-color: #ffffff; */
/* } */
.modify_div p{
  padding: 30px 0px;
  font-size: 30px;
}

.modify_ul{
  width: 100%;
}
.modify_ul li{
  margin: auto;
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
}

.modify_ul li span{
  color:white;
  float: left;
  width:100px;
  text-align:right;
  display:inline-block;
  margin: auto;
  margin-left:30px;
  margin-top: 10px;
}
.hr{
	width: 100%;
	background-color: white;
	height: 1px;
	margin-top: -10px;
}
.modify_ul li span.tip{margin:6px 0 0 10px;width:120px;text-align:left;}
.modify_ul li input{
  float: left;
  width: 228px;
/*   height: 30px; */
/*   border:1px solid #333; */
/*   border-radius: 3px; */
/*   padding-left: 20px; */
/*   outline:medium; */
/*   margin-left: 10px; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/*   width: 80%; */
  height: -webkit-calc(3em + 2px);
  height: calc(3em + 2px);
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #CCCCCC;
  border-radius: 20px;
  background: #000;
  resize: none;
  outline: none;
  filter: Alpha(opacity=30);
  opacity: 0.6;
  color: #FFFFFF;
}
.modify_ul li button{
/*   margin: auto; */
/*   color: #ffffff; */
/*   background-color: #333; */
/*   font-size: 16px; */
/*   padding: 10px 60px; */
/*   outline: inherit; */
/*   border-radius: 3px; */
/*   cursor: pointer; */
/*   margin-top: 10px; */
 	color:#00b4ff;
  text-transform: uppercase;
  width: 80px;
  height: 40px;
  border: 1px solid #CCCCCC;
  background: -webkit-linear-gradient(90deg, #000, #000, #00b4ff, #00b4ff);
  background:    -moz-linear-gradient(90deg, #000, #000, #00b4ff, #00b4ff);
  background:      -o-linear-gradient(90deg, #000, #000, #00b4ff, #00b4ff);
  background:         linear-gradient(90deg, #000, #000, #00b4ff, #00b4ff);
  background-size: 300% 300%;
  background-position: 1% 50%;
  transition: all 1s ease;
  -webkit-transition: background 0.5s ease;
  outline: none;
  cursor:pointer;
  border-radius:40px;
  filter: Alpha(opacity=30);
  opacity: 0.7;
}




























.
